name: Veracode Static Analysis - Get Policy Flaws
on: workflow_dispatch

jobs:
  get-policy-flaws:
    runs-on: ubuntu-latest
    name: Veracode Static Analysis - Get Policy Flaws
    container: veracode/api-signing:latest

    steps:
      - name: Fetch flaws
        run: |
          cd /tmp
          export VERACODE_API_KEY_ID=${{ secrets.VERACODE_API_ID }}
          export VERACODE_API_KEY_SECRET=${{ secrets.VERACODE_API_KEY }}
          guid=$(http --auth-type veracode_hmac GET "https://api.veracode.com/appsec/v1/applications?name=Platform Demo - Static Analysis - verademo-java" | jq -r '._embedded.applications[0].guid') 
          echo GUID: ${guid}
          total_flaws=$(http --auth-type veracode_hmac GET "https://api.veracode.com/appsec/v2/applications/${guid}/findings?scan_type=STATIC&violates_policy=True" | jq -r '.page.total_elements')
          echo TOTAL_FLAWS: ${total_flaws}
          http --auth-type veracode_hmac GET "https://api.veracode.com/appsec/v2/applications/${guid}/findings?scan_type=STATIC&violates_policy=True&size=${total_flaws}" > results.json

      - name: Save results
        uses: actions/upload-artifact@v4
        with:
          name: policy-flaws
          path: /tmp/results.json
        continue-on-error: true

  results_to_sarif:
    needs: get-policy-flaws
    runs-on: ubuntu-latest
    name: Import policy results to SARIF

    steps:
      - name: Get scan results
        uses: actions/download-artifact@v4
        with:
          name: policy-flaws

      - name: Convert pipeline scan output to SARIF format
        if: always()
        # create code scanning alerts
        uses: veracode/veracode-pipeline-scan-results-to-sarif@v2.0.4
        with:
          pipeline-results-json: results.json
          output-results-sarif: veracode-results.sarif
